@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #274257;
}

@media (min-width: 1400px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */
    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -20px;
        padding: 0 100px;
    }

    .space-content-image {
        margin-top: 75px;
    }

    .size-image-content {
        width: 562px;
    }

    .icon1 {
        position: relative;
        top: -150px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -20px;
        margin-left: 440px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -70px;
        margin-left: 890px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 1120px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card Section */
    .content {
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .content-card {
        width: 446px;
        padding: 24px 38px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-profile {
        display: flex;
        align-items: center;
    }

    .content-profile .content-image {
        width: 80px;
    }

    .content-profile .content-desc {
        display: inline-block;
        margin-left: 28px;
    }

    .content-profile .content-name {
        font-size: 24px;
        font-weight: 700;
    }

    .content-profile .content-job {
        margin-top: -20px;
        font-size: 16px;
        font-weight: 300;
        color: #716D6D;
    }

    .content-skills {
        margin-top: 29px;
        position: relative;
    }

    .content-skills .content-skills-title {
        font-size: 16px;
        font-weight: 600;
    }

    .content-skills .content-list {
        margin-bottom: -10px;
    }

    .content-skills .content-list .list-value {
        font-size: 14px;
        font-weight: 400;
    }

    .content-skills .content-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #274257;
        border: 2px solid #274257;
        border-radius: 180px;
        padding: 8px 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
    }

    .content-skills .content-button:active {
        border: 2px solid #274257;
        background-color: #FFFFFF;
        color: #274257;
    }

    .content-footer {
        margin-top: 80px;
    }

    .content-footer .content-footer-sosmed {
        margin-right: 40px;
    }

    .content-footer .content-footer-sosmed img {
        width: 20px;
        margin-right: 10px;
    }

    .content-footer .content-footer-star img {
        width: 25px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -20px;
    }

    .space-content-image {
        margin-top: 75px;
    }

    .size-image-content {
        width: 562px;
    }

    .icon1 {
        position: relative;
        top: -150px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -20px;
        margin-left: 440px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -70px;
        margin-left: 790px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 920px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card Section */
    .content {
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .content-card {
        width: 446px;
        padding: 24px 38px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-profile {
        display: flex;
        align-items: center;
    }

    .content-profile .content-image {
        width: 80px;
    }

    .content-profile .content-desc {
        display: inline-block;
        margin-left: 28px;
    }

    .content-profile .content-name {
        font-size: 24px;
        font-weight: 700;
    }

    .content-profile .content-job {
        margin-top: -20px;
        font-size: 16px;
        font-weight: 300;
        color: #716D6D;
    }

    .content-skills {
        margin-top: 29px;
        position: relative;
    }

    .content-skills .content-skills-title {
        font-size: 16px;
        font-weight: 600;
    }

    .content-skills .content-list {
        margin-bottom: -10px;
    }

    .content-skills .content-list .list-value {
        font-size: 14px;
        font-weight: 400;
    }

    .content-skills .content-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #274257;
        border: 2px solid #274257;
        border-radius: 180px;
        padding: 8px 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
    }

    .content-skills .content-button:active {
        border: 2px solid #274257;
        background-color: #FFFFFF;
        color: #274257;
    }

    .content-footer {
        margin-top: 80px;
    }

    .content-footer .content-footer-sosmed {
        margin-right: 40px;
    }

    .content-footer .content-footer-sosmed img {
        width: 20px;
        margin-right: 10px;
    }

    .content-footer .content-footer-star img {
        width: 25px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 280px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -20px;
        padding: 0 100px;
    }

    .space-content-image {
        margin-top: 40px;
    }

    .size-image-content {
        width: 350px;
    }

    .icon1 {
        position: relative;
        top: -170px;
        margin-left: 150px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -20px;
        margin-left: 240px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -70px;
        margin-left: 390px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 520px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card Section */
    .content {
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .content-card {
        width: 446px;
        padding: 24px 38px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-profile {
        display: flex;
        align-items: center;
    }

    .content-profile .content-image {
        width: 80px;
    }

    .content-profile .content-desc {
        display: inline-block;
        margin-left: 28px;
    }

    .content-profile .content-name {
        font-size: 24px;
        font-weight: 700;
    }

    .content-profile .content-job {
        margin-top: -20px;
        font-size: 16px;
        font-weight: 300;
        color: #716D6D;
    }

    .content-skills {
        margin-top: 29px;
        position: relative;
    }

    .content-skills .content-skills-title {
        font-size: 16px;
        font-weight: 600;
    }

    .content-skills .content-list {
        margin-bottom: -10px;
    }

    .content-skills .content-list .list-value {
        font-size: 14px;
        font-weight: 400;
    }

    .content-skills .content-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #274257;
        border: 2px solid #274257;
        border-radius: 180px;
        padding: 8px 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
    }

    .content-skills .content-button:active {
        border: 2px solid #274257;
        background-color: #FFFFFF;
        color: #274257;
    }

    .content-footer {
        margin-top: 80px;
    }

    .content-footer .content-footer-sosmed {
        margin-right: 40px;
    }

    .content-footer .content-footer-sosmed img {
        width: 20px;
        margin-right: 10px;
    }

    .content-footer .content-footer-star img {
        width: 25px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 35px;
    }

    .size-icon {
        width: 40px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 350px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
        padding: 0 5px;
    }

    .space-content-image {
        margin-top: 40px;
    }

    .size-image-content {
        width: 350px;
    }


    .icon1 {
        position: relative;
        top: -240px;
        margin-left: 70px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -20px;
        margin-left: 40px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -40px;
        margin-left: 190px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -30px;
        margin-left: 280px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card Section */
    .content {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .content-space {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .content-card {
        width: 446px;
        padding: 24px 30px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-profile {
        display: flex;
        align-items: center;
    }

    .content-profile .content-image {
        width: 80px;
    }

    .content-profile .content-desc {
        display: inline-block;
        margin-left: 24px;
    }

    .content-profile .content-name {
        font-size: 18px;
        font-weight: 700;
    }

    .content-profile .content-job {
        margin-top: -20px;
        font-size: 16px;
        font-weight: 300;
        color: #716D6D;
    }

    .content-skills {
        margin-top: 29px;
        position: relative;
    }

    .content-skills .content-skills-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .content-skills .content-list {
        margin-bottom: -10px;
    }

    .content-skills .content-list .list-value {
        font-size: 13px;
        font-weight: 400;
    }

    .content-skills .content-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #274257;
        border: 2px solid #274257;
        border-radius: 180px;
        padding: 8px 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
    }

    .content-skills .content-button:active {
        border: 2px solid #274257;
        background-color: #FFFFFF;
        color: #274257;
    }

    .content-footer {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    .content-footer .content-footer-sosmed {
        margin-right: 40px;
    }

    .content-footer .content-footer-sosmed img {
        width: 20px;
        margin-right: 10px;
    }

    .content-footer .content-footer-star img {
        width: 20px;
    }


    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}