@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #274257;
}

@media (min-width: 1300px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -10px;
        padding: 0 300px;
    }

    .icon1 {
        position: relative;
        top: -140px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -240px;
        margin-left: 450px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -80px;
        margin-left: 510px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -250px;
        margin-left: 1120px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 320px;
    }

    .size-terms-image {
        width: 450px;
    }

    .text-information-1 {
        font-size: 32px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 16px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 21px 15px 21px;
        border-radius: 20px;
        margin-top: 36px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 32px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 1100px) and (max-width: 1299.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -10px;
        padding: 0 100px;
    }

    .icon1 {
        position: relative;
        top: -140px;
        margin-left: 160px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -220px;
        margin-left: 450px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -80px;
        margin-left: 390px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -250px;
        margin-left: 950px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 350px;
    }

    .size-terms-image {
        width: 400px;
    }

    .text-information-1 {
        font-size: 32px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 16px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 21px 15px 21px;
        border-radius: 20px;
        margin-top: 36px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 32px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1099.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 35px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-top: -10px;
        padding: 0 200px;
    }

    .icon1 {
        position: relative;
        top: -190px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -240px;
        margin-left: 450px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -80px;
        margin-left: 320px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -250px;
        margin-left: 810px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 250px;
    }

    .size-terms-image {
        width: 400px;
    }

    .text-information-1 {
        font-size: 32px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 16px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 21px 15px 21px;
        border-radius: 20px;
        margin-top: 36px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 32px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 40px;
    }

    .size-icon {
        width: 50px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 447px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 900px) and (max-width: 991.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 35px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-top: -10px;
    }

    .icon1 {
        position: relative;
        top: -160px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 40px;
    }

    .icon2 {
        position: relative;
        top: -180px;
        margin-left: 450px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -60px;
        margin-left: 260px;
    }

    .size-icon3 {
        width: 40px;
    }

    .icon4 {
        position: relative;
        top: -230px;
        margin-left: 760px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 380px;
    }

    .size-terms-image {
        width: 350px;
    }

    .text-information-1 {
        font-size: 24px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 16px;
        font-weight: 700;
        padding: 12px 18px 12px 18px;
        border-radius: 20px;
        margin-top: 36px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 24px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 40px;
    }

    .size-icon {
        width: 50px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 447px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 768px) and (max-width: 899.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 35px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-top: -20px;
    }

    .icon1 {
        position: relative;
        top: -120px;
        margin-left: 100px;
    }

    .size-icon1 {
        width: 40px;
    }

    .icon2 {
        position: relative;
        top: -180px;
        margin-left: 300px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -60px;
        margin-left: 220px;
    }

    .size-icon3 {
        width: 40px;
    }

    .icon4 {
        position: relative;
        top: -230px;
        margin-left: 710px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 200px;
    }

    .size-terms-image {
        width: 300px;
    }

    .text-information-1 {
        font-size: 24px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 300;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 14px;
        font-weight: 700;
        padding: 9px 15px 9px 15px;
        border-radius: 20px;
        margin-top: 26px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 400px;
    }

    .text-information-3 {
        font-size: 24px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 35px;
    }

    .size-icon {
        width: 40px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 350px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 630px) and (max-width: 767.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .icon1 {
        position: relative;
        top: -180px;
        margin-left: 150px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -190px;
        margin-left: 250px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -20px;
        margin-left: 200px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -220px;
        margin-left: 500px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 300px;
    }

    .size-terms-image {
        width: 300px;
    }

    .text-information-1 {
        font-size: 26px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 300;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 14px;
        font-weight: 700;
        padding: 7px 13px 7px 13px;
        border-radius: 20px;
        margin-top: 18px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 320px;
    }

    .text-information-3 {
        font-size: 24px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}

@media (min-width: 500px) and (max-width: 629.6px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .icon1 {
        position: relative;
        top: -190px;
        margin-left: 80px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -180px;
        margin-left: 200px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -60px;
        margin-left: 130px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -240px;
        margin-left: 460px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 250px;
    }

    .size-terms-image {
        width: 300px;
    }

    .text-information-1 {
        font-size: 26px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 14px;
        font-weight: 700;
        padding: 7px 13px 7px 13px;
        border-radius: 20px;
        margin-top: 18px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 16px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}

@media (min-width: 413px) and (max-width: 499.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .icon1 {
        position: relative;
        top: -200px;
        margin-left: 30px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -190px;
        margin-left: 160px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -60px;
        margin-left: 90px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -290px;
        margin-left: 370px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 150px;
    }

    .size-terms-image {
        width: 250px;
    }

    .text-information-1 {
        font-size: 26px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 11px 5px 11px;
        border-radius: 20px;
        margin-top: 14px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 16px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}

@media (max-width: 412.5px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .icon1 {
        position: relative;
        top: -200px;
        margin-left: 20px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -220px;
        margin-left: 160px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -40px;
        margin-left: 75px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -240px;
        margin-left: 280px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Information Selection */
    .space-content-2 {
        margin-top: 150px;
    }

    .size-terms-image {
        width: 250px;
    }

    .text-information-1 {
        font-size: 26px;
        font-weight: 800;
    }

    .text-information-2 {
        font-size: 14px;
        font-weight: 400;
    }

    .space-content-3 {
        margin-top: 203px;
    }

    .decoration-button {
        background-color: #C4D21A;
        border: none;
        font-size: 14px;
        font-weight: 700;
        padding: 9px 11px 9px 11px;
        border-radius: 20px;
        margin-top: 14px;
    }

    .decoration-button:hover {
        color: white;
    }

    .space-content-4 {
        margin-top: 116px;
        margin-bottom: 300px;
    }

    .text-information-3 {
        font-size: 14px;
        font-weight: 700;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}