@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #274257;
}

@media (min-width: 1440px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -20px;
    }

    .space-content-image {
        margin-top: 75px;
    }

    .size-image-content {
        width: 562px;
    }

    .icon1 {
        position: relative;
        top: -130px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -200px;
        margin-left: 380px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -120px;
        margin-left: 1250px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 820px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card */
    .content-card {
        margin-top: 230px;
        margin-bottom: 300px;
    }

    .content-card-testi {
        width: 547px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-card-image {
        padding: 40px 20px 0;
    }

    .content-card-image img:hover {
        transform: scale(1.5);
        transition: 0.3s ease-in;
    }

    .content-card-image .design {
        width: 200px;
    }

    .content-card-image .result {
        width: 300px;
    }

    .content-card-image .difference {
        width: 200px;
    }

    .content-card-desc {
        background-color: #C4D21A;
        padding: 15px 10px 2px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .content-card-desc h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .content-card-desc p {
        font-size: 14px;
        font-weight: 400;
        padding-right: 70px;
    }

    .content-card-desc .bottom h6 {
        font-size: 14px;
        font-weight: 600;
    }

    .content-card-desc .bottom .bottom-rate {
        margin-top: -40px;
        width: 12%;
    }

    .content-card-desc .bottom .bottom-rate p {
        color: #4e5155;
        font-size: 14px;
        font-weight: 400;
    }

    .content-card-desc .bottom .bottom-rate .rate-number {
        margin-top: -15px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 80px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 44px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        margin-top: -20px;
    }

    .space-content-image {
        margin-top: 75px;
    }

    .size-image-content {
        width: 562px;
    }

    .icon1 {
        position: relative;
        top: -130px;
        margin-left: 200px;
    }

    .size-icon1 {
        width: 50px;
    }

    .icon2 {
        position: relative;
        top: -200px;
        margin-left: 380px;
    }

    .size-icon2 {
        width: 30px;
    }

    .icon3 {
        position: relative;
        top: -120px;
        margin-left: 920px;
    }

    .size-icon3 {
        width: 50px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 820px;
    }

    .size-icon4 {
        width: 30px;
    }

    /* Content Card */
    .content-card {
        margin-top: 230px;
        margin-bottom: 300px;
    }

    .content-card-testi {
        width: 547px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-card-image {
        padding: 40px 20px 0;
    }

    .content-card-image img:hover {
        transform: scale(1.5);
        transition: 0.3s ease-in;
    }

    .content-card-image .design {
        width: 180px;
    }

    .content-card-image .result {
        width: 230px;
    }

    .content-card-image .difference {
        width: 180px;
    }

    .content-card-desc {
        background-color: #C4D21A;
        padding: 15px 10px 2px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .content-card-desc h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .content-card-desc p {
        font-size: 14px;
        font-weight: 400;
        padding-right: 50px;
    }

    .content-card-desc .bottom h6 {
        font-size: 14px;
        font-weight: 600;
    }

    .content-card-desc .bottom .bottom-rate {
        margin-top: -40px;
        width: 12%;
    }

    .content-card-desc .bottom .bottom-rate p {
        color: #4e5155;
        font-size: 14px;
        font-weight: 400;
    }

    .content-card-desc .bottom .bottom-rate .rate-number {
        margin-top: -15px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 50px;
    }

    .size-icon {
        width: 60px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 547px;
        background-color: #C4D21A;
        color: #274257;
        padding: 10px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 60px;
    }

    .size-github {
        width: 50px;
        height: 50px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 280px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -20px;
    }

    .space-content-image {
        margin-top: 40px;
    }

    .size-image-content {
        width: 350px;
    }

    .icon1 {
        position: relative;
        top: -130px;
        margin-left: 140px;
    }

    .size-icon1 {
        width: 40px;
    }

    .icon2 {
        position: relative;
        top: -200px;
        margin-left: 280px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -60px;
        margin-left: 620px;
    }

    .size-icon3 {
        width: 40px;
    }

    .icon4 {
        position: relative;
        top: -50px;
        margin-left: 420px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Content Card */
    .content-card {
        margin-top: 230px;
        margin-bottom: 300px;
    }

    .content-card-testi {
        width: 547px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-card-image {
        padding: 40px 20px 0;
    }

    .content-card-image img:hover {
        transform: scale(1.5);
        transition: 0.3s ease-in;
    }

    .content-card-image .design {
        width: 130px;
    }

    .content-card-image .result {
        width: 160px;
    }

    .content-card-image .difference {
        width: 130px;
    }

    .content-card-desc {
        background-color: #C4D21A;
        padding: 15px 10px 2px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .content-card-desc h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .content-card-desc p {
        font-size: 13px;
        font-weight: 400;
        padding-right: 50px;
        margin-bottom: 20px;
    }

    .content-card-desc .bottom h6 {
        font-size: 13px;
        font-weight: 600;
    }

    .content-card-desc .bottom .bottom-rate {
        margin-top: -40px;
        width: 18%;
    }

    .content-card-desc .bottom .bottom-rate p {
        color: #4e5155;
        font-size: 13px;
        font-weight: 400;
    }

    .content-card-desc .bottom .bottom-rate .rate-number {
        margin-top: -15px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 35px;
    }

    .size-icon {
        width: 40px;
    }

    .floating-bg {
        position: fixed;
        right: 15%;
        left: 15%;
        bottom: 5%;
        width: 350px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 0px;
        border-radius: 20px;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .space-content-image {
        margin-top: 40px;
    }

    .size-image-content {
        width: 350px;
    }

    .icon1 {
        position: relative;
        top: -150px;
        margin-left: 30px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -200px;
        margin-left: 130px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -40px;
        margin-left: 280px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -40px;
        margin-left: 180px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Content Card */
    .content-card {
        margin-top: 230px;
        margin-bottom: 300px;
    }

    .content-card-testi {
        margin-top: 50px;
        width: 547px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-card-image {
        padding: 40px 20px 0;
    }

    .content-card-image img:hover {
        transform: scale(1.5);
        transition: 0.3s ease-in;
    }

    .content-card-image .design {
        width: 130px;
    }

    .content-card-image .result {
        width: 175px;
    }

    .content-card-image .difference {
        width: 130px;
    }

    .content-card-desc {
        background-color: #C4D21A;
        padding: 15px 10px 2px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .content-card-desc h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .content-card-desc p {
        font-size: 12px;
        font-weight: 400;
    }

    .content-card-desc .bottom h6 {
        font-size: 12px;
        font-weight: 600;
    }

    .content-card-desc .bottom .bottom-rate {
        margin-top: -35px;
        width: 18%;
    }

    .content-card-desc .bottom .bottom-rate p {
        color: #4e5155;
        font-size: 12px;
        font-weight: 400;
    }

    .content-card-desc .bottom .bottom-rate .rate-number {
        margin-top: -15px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}

@media (min-width: 320px) and (max-width: 376px) {
    .bg-main {
        background-color: #C4D21A;
    }

    /* Navbar Selection */
    .size-logo {
        width: 40px;
        height: 40px;
    }

    .size-github {
        width: 30px;
        height: 30px;
    }

    /* Content Selection */

    .space-content-1 {
        margin-top: 150px;
    }

    .text-content-1 {
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 800;
    }

    .text-content-2 {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        margin-top: -10px;
    }

    .space-content-image {
        margin-top: 40px;
    }

    .size-image-content {
        width: 350px;
    }

    .icon1 {
        position: relative;
        top: -150px;
        margin-left: 30px;
    }

    .size-icon1 {
        width: 30px;
    }

    .icon2 {
        position: relative;
        top: -200px;
        margin-left: 130px;
    }

    .size-icon2 {
        width: 20px;
    }

    .icon3 {
        position: relative;
        top: -40px;
        margin-left: 240px;
    }

    .size-icon3 {
        width: 30px;
    }

    .icon4 {
        position: relative;
        top: -40px;
        margin-left: 180px;
    }

    .size-icon4 {
        width: 20px;
    }

    /* Content Card */
    .content-card {
        margin-top: 200px;
        margin-bottom: 300px;
    }

    .content-card-testi {
        margin-top: 50px;
        width: 547px;
        background-color: #FFFFFF;
        border-radius: 30px;
    }

    .content-card-image {
        padding: 40px 20px 0;
    }

    .content-card-image img:hover {
        transform: scale(1.5);
        transition: 0.3s ease-in;
    }

    .content-card-image .design {
        width: 130px;
    }

    .content-card-image .result {
        width: 175px;
        margin-top: 30px;
    }

    .content-card-image .difference {
        width: 130px;
    }

    .content-card-desc {
        background-color: #C4D21A;
        padding: 15px 10px 2px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .content-card-desc h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .content-card-desc p {
        font-size: 12px;
        font-weight: 400;
    }

    .content-card-desc .bottom h6 {
        font-size: 12px;
        font-weight: 600;
    }

    .content-card-desc .bottom .bottom-rate {
        margin-top: -35px;
        width: 18%;
    }

    .content-card-desc .bottom .bottom-rate p {
        color: #4e5155;
        font-size: 12px;
        font-weight: 400;
    }

    .content-card-desc .bottom .bottom-rate .rate-number {
        margin-top: -15px;
    }

    /* Floating Selection */
    .size-icon-active {
        width: 25px;
    }

    .size-icon {
        width: 30px;
    }

    .floating-bg {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 5%;
        width: 250px;
        background-color: #C4D21A;
        color: #274257;
        padding: 8px 10px;
        border-radius: 10px;
    }
}